.modal-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 25vw;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-content p {
    color: rgb(95, 91, 91);
    font-size: 0.9rem;
}

.modal-buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.confirm-button {
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    background-color: #d03634;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;
}

.confirm-button:hover {
    background-color: #b91c1c;
}

.cancel-button {
    padding: 7px 20px;
    border-radius: 5px;
    border: 2px solid rgb(155, 151, 151);
    background-color: white;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease;
}

.cancel-button:hover {
    background-color: lightgrey;
}
