.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 40px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}
.home-logo {
    height: 40px;
}
.profile-container {
    position: relative;
    display: inline-block;
}

.profile-button {
    background: none;
    border: none;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    padding: 10px;
    z-index: 500;
    display: block;
    list-style: none;
}

.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
}

.profile-button li:hover {
    background: #f5f5f5;
}
